@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Teko&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color:#000;
}

/* Section Contact */
#Home, #Accueil {
  max-height: 100vh;
}

/* About Section */
#About, [id="À Propos"] {
  position: relative;
  overflow: hidden;
  background-color: rgb(5, 5, 5);
  padding-top: 100px;
  max-height: none;
}
/* END of About Section */

/* Services Section */
#Services .heading {
  width: 100%;
}
/* END of Services Section */

/* Portfolio Section */
#Portfolio {
  background-color: #050505;
  padding: 100px 0;
}
/* END of Portfolio Section */

/* Contact Section */
#Contact {
  position: relative;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  padding: 100px 0px !important;
}
/* END of Contact Section */

/* University Section */
#University, #Université {
  position: relative;
  overflow: hidden;
  background-color: rgb(5, 5, 5);
  background-size: cover;
  padding: 100px 0px;
}

.accordion-button {
  color: gray;
  font-size: 18px;
  background-color: #000;

  @media screen and (max-width: 550px) {
    display: block;
  }
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:hover {
  background-color: #272727;
}

.accordion-button:not(.collapsed) {
  background-color: #000;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
}

.accordion-button:not:hover {
  background-color: #272727;
}

.accordion-item {
  border-color: #000;
}

.activeSemester {
  border: 2px solid rgb(12, 148, 0) !important;
}
/* END of University Section */

/* Nav Section */
.sticky {
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 0px !important;
}

#navLogo {
  height: auto;
  width: 50px;
}

@media screen and (max-width: 576px) {
  #navLogo {
    width: 40px;
  }

  .sticky {
    padding-top: 15px !important;
  }
}

.navSticky {
  width: 40px !important;
}

.smoothTransition {
  transition: 0.8s all ease;
}
/* END of Nav Section */

/* Scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #333;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #333;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}
/* END of Scrollbar */

/* Animations */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInRight {
  0% { 
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% { 
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% { 
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
/* END of Animations */
